html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.guide {
  background-color: rgb(15, 22, 22);
  height: 35px;
  color: white;
  padding: 0;
  justify-content: space-between;
}

li {
  width: 10%;
  margin-top: 10px;
  margin-left: 40px;
}

.footer {
  font-size: 8px;
  text-align: center;
  background-color: rgb(243, 242, 242);
  margin-top: 70px;
}

.piece {
  display: flex;
  height: 500px;
}

.about {
  width: 200px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  height: 180px;
  background-color: rgb(243, 242, 242);
}

.archives {
  width: 200px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  /* height: 150px; */
  background-color: rgb(243, 242, 242);
}

.piece2 {
  /* border: 1px solid black; */
}

.article1 {
  width: 300px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
}

h3 {
  margin-top: 10px;
}

.word {
  margin-top: -10px;
}

.img {
  background-color: rgb(62, 68, 66);
  width: 300px;
  margin-left: -12px;
  margin-top: -10px;
}

.item-image {
  opacity: 0.8;
  margin-left: 55px;
  margin-top: 5px;
}

.article3 {
  width: 300px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
}

.article2 {
  width: 300px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
}
